body{
    margin: 0px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(23,9,121,1) 47%, rgba(78,79,189,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
}
h1{
    color: rgb(190, 195, 233);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-size: 36px;
    text-align: center;
}
a:link{
    color: lavenderblush;
    font-size: 18px;
    letter-spacing: 0.75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:visited{
    color: lightslategrey;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
}
a:hover{
    color: hotpink;
}
a:active{
    color: tomato;
}
#navi{
    left: 0px;
    margin-left: 15px;
    margin-right: 1825px;
    background: linear-gradient(165deg, rgba(2,0,36,1) 0%, rgba(23,9,121,1) 47%, rgba(78,79,189,1) 100%);
    background-size: 300px;
}
div#navi > h2{
    color: rgb(255, 240, 249);
    size: 45px;
}
#intro{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(23,9,121,1) 12%, rgba(78,79,189,1) 75%);
    color: lavenderblush;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
    z-index: 0;
}
#content{
    /*
    to be used later for the main content block
    */
    color: rgb(127, 144, 202);
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family:fantasy;
    line-height: 20px;
    margin-left: 30%;
    margin-right: 30%;
}
#goof > p{
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    /*color: lavenderblush;*/
    background: -webkit-linear-gradient(lavenderblush, lightslategrey, mintcream);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin-left: 30%;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    position: fixed;
}
#goof > img{
    align-items: right;
    margin-left: 55%;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: auto;
    width: 250px;
    overflow: visible;
    position: fixed;
}
.gallery{
    /*
    margin-left: 25px;
    margin-right: 25px;
    */
    width: 1000px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    overflow: visible;
}
.gallery img{
    transition: 0.2s ease-in-out;
    padding: 15px;
    width: 200px;
    filter: grayscale(100%);
    position: relative fixed;
    display: inline-block;
    border-radius: 45px;
    box-shadow: -65px 45px 50px 1px rgb(37 37 77);
}
.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.35);
    transform-origin: left;
    width: 600px;
    overflow: visible;
    border-radius: 0px;
    box-shadow: 0 0 0px;
    z-index: 3;
    position: relative;
}
.gallery h2{
    color: mintcream;
    font-size: 26px;
    font-family: cursive;
    font-weight: bold;
}
.gallery p{
    color: lavenderblush;
    font-size: 18px;
    font-family: cursive;
}